/* Service.css */

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.card {
    border: none;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.card-text {
    color: #666;
}

button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.service-link {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    color: inherit;
    /* Giữ nguyên màu sắc của văn bản */
}